
* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}

body {
	background-color: #f4f4f4;
	font-size: 20px;
}

#calculator {
	margin: 100px auto;
	width: 366px;
	height: auto;
	/*border: 2px solid red;*/
}

.row-display {
	padding: 20px 0 20px 20px;
	height: 60px;
	background-color: #87ceeb;

	/* border-radius: 左上 右上 右下 左下*/
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;

	box-shadow: 3px 3px 5px #939393;
}

#display {
	
	margin: 0px 10px;
	padding:0 10px; 
	width: 290px;
	height: 60px;
	background: #444;

	color: #fcfcfc;
	text-align: right;
	line-height: 60px;     /* 60px是這個div的高, 調整字成垂直置中 */
	font-size: 24px;

	overflow: hidden;      /* 把超過的數字忽略 */
	word-break: break-all; /* 避免數字從中間被砍掉 */

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	box-shadow: 3px 3px 5px #939393;
}

.row {
	padding: 0 0 20px 20px;
	height: 50px;
	background-color: #87ceeb;
	/*border: 2px solid black;*/

	box-shadow: 3px 3px 5px #939393;
}

.row span {
	display: inline-block;

	margin-left: 10px; 
	padding: 15px 7px;
	width: 52px;
	height: 20px;

	text-align: center;
	background: #fafafa;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	box-shadow: 3px 3px 5px #939393;
}

/* 為什麼不能在 .operator 裡面加入背景顏色修飾？ 
   可以, 但是selector不能是  " .row span .operator "  
   中間加了一個 span 就出問題
   要用 " .row .operator "

*/
.row .operator {
	background: #f375ae;  
}

.row span:hover {
	background-color: #d6347e;
}



#last-row {
	border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
}


